@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    background-color: #F3E9F1;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-weight: 600;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


header{
    margin: auto 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
}

.title{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

#store{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:0 10%;
}

.productItem{
    width: 28%;
    border-radius: 10%;
    display: flex;
    margin:20px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.productItem:hover{
    transform:scale(1.01);
}

.productImg{
    object-fit:contain;
    border-radius: 20px 20px 0 0;
    height: 197px;
    object-fit: cover;
}

.productName{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.descriptionStyle{
    padding: 0 30px;
}

.productId{
    font-weight: 600;
    font-size:14px;
    margin-top: -20px;
    margin-left: 7px;
}

.productDescription{
    margin-top: 20px;
}

.productPrice{
    text-align: end;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

#productSheet{
    margin-top: 10px;
}

.itemCard{
    display: flex;
    width: 65%;
    margin: auto;
    background-color: white;
    padding: 0 20px 0px 0;
    border-radius: 30px;
    box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.4);
}

.itemName{
    font-size: 50px;
    text-align: center;
    margin-top: -200px;
}

.itemImg{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border: thick solid black;
    border-radius: 30px 0 0 30px;
}

.columnDescription{
    margin-left: 40px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemVarnish{
    display: flex;
    font-weight: 600;
}

.vernis{
    margin-left: 20px;
}

.itemPrice{
    font-weight: 600;
}

.itemOrder{
    display: flex;
    justify-content: space-between;
}

.itemQuantity{
    width: 30px;
}

.itemAdd{
    font-weight: 600;
    cursor: pointer;
}

.itemStyle{
    font-size: 20px;
}

.itemImportantInformation{
    font-weight: 600;
    font-size: 23px;
}