@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    background-color: #F3E9F1;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.title{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

#store{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:0 10%;
}

.productItem{
    width: 25%;
    border-radius: 10%;
    display: flex;
    margin:30px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}

.productItem:hover{
    transform:scale(1.01);
}

.productImg{
    border-radius: 20px 20px 0 0;
}

.productName{
    text-align: center;
}

.descriptionStyle{
    padding: 0 30px;
}

.productInfo{
    margin-top: -10px;
}

.productId{
    font-weight: 600;
    font-size:14px;
    margin-top: -10px;
}

.productPrice{
    text-align: end;
    font-weight: 700;
}
